VCenter = "10.0.0.151"
VCCluster = "Cluster1"
VCUser = "administrator@vsphere.local"
VCPassword = "N0tS3cUr3"
VCDataStore = "NFS01"
VCNetwork = "dv-LAN"
VCFolder = "templates"
WinRMUser = "administrator"
WinRMPassword = "N0tS3cUr3"
Zone = "Dev"
Environment = "Home"