VCenter = "10.0.0.151"
VCCluster = "Cluster1"
VCUser = "administrator@vsphere.local"
VCPassword = "N0tS3cUr3"
VCDataStore = "NFS01"
VCNetwork = "dv-LAN"
VCFolder = "templates"
SSHUser = "packer"
SSHPassword = "vagrant"
Zone = "Dev"
Environment = "Home"